.content {
    background-image: url("images/first-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

.content a,
a.nav-link,
.first a.nav-link.active {
    color: #FFFFFF;
}

.navbar {
    --bs-navbar-brand-hover-color: #DB3138 !important;
}

.navbar-nav {
    --bs-nav-link-hover-color: #DB3138 !important;
}

.navbar-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("images/60.png");

}

.navbar-toggler {
    color: #DB3138 !important;
}

.main-title {
    text-align: center;
    color: #DB3138;
    font-size: 150px;
    font-weight: 700;
    line-height: 125%;
    margin-top: 168px;
}

.diamonds {
    text-align: center;


}

.diamonds img {
    padding-right: 30px !important;
    margin-top: 40px;
}

.greetings {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 40px;
}

.btn-ss {
    margin-top: 40px;
}

.info {
    margin-top: 100px;

    border: 1px solid #FFFFFF;
}

.info .border1 {
    margin: 40px 0;
    text-align: center;
}

.info .border2 {
    border: 1px solid #898989;
    transform border: rotate(-90deg);
    text-align: center;

}

.info .border3 {
    margin: 40px 0;
    text-align: center;
}

.phone-info {
    margin: 40px 0;

}

.phone-info a {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #DB3138;
}

.info h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.info p{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #DB3138;
}
_____________